<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learn.numbers.all.major.languages.clone">

<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LanguageNameActivity"/>
        <activity android:name=".activities.MainAct" />
        <activity android:name=".activities.CustomAct" />
        <activity android:name=".activities.OtherLangAct" />
        <activity android:name=".activities.NumbersAct" />
        <activity android:name=".activities.ExtraNumbersAct" />
        <activity android:name=".activities.SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="@string/app_id" />-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.AD_MANAGER_APP"-->
<!--            android:value="true" />-->
    </application>

</manifest>